<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="utf-8">
    <title>视频预览--{$Think.config.web.meta_title}{$Think.config.web.version}</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/player/css/common.css"/>
</head>
<body>

<!-- 酷播V4.05跨平台代码/开始 -->
<div class="video" id="CuPlayer">
    <script type="text/javascript">
        <!--
        var vID        = "c1";
        var vWidth     = "600";
        var vHeight    = "400";
        var vFile      = "__STATIC__/player/CuSunV4set.xml";
        var vPlayer    = "__STATIC__/player/player.swf?v=4.0";
        var vPic       = '{$pic}';
        var vCssurl    = "__STATIC__/player/css/videos.min.css";
        var vAutoPlay  = "yes";
        var vEndTime   = 0;
        var vLogoPath  = "__STATIC__/images/logo/yztlogo.png";
        var vPlayMod   = 0;
        var vMp4url    = "{$video}";
        //-->
    </script>
    <script class="CuPlayerVideo" data-mce-role="CuPlayerVideo" type="text/javascript" src="__STATIC__/player/js/player.min.js"></script>
</div>
</body>
</html>
