<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>常见问题-{$Think.config.web.meta_title}{$Think.config.web.version}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/admin/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/font.css">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form">
                        <form method="post" action="{:url('')}">
                            <div class="layui-inline">

                                <label class="layui-form-label">查询</label>
                                <div class="layui-input-inline w300">
                                    <div class="input-group">
                                        <input type="text" style="width:240px;" name="keywords" id="keywords" placeholder="请输入" class="layui-input"  lay-verType="tips" value="{$keywords}">
                                        <button class="layui-btn layuiadmin-btn-admin" lay-submit><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i></button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <form class="layui-form" action="{:url('delQuestion')}">
                    <div style="padding-bottom: 10px;">
                        <button class="layui-btn layui-btn-danger" lay-submit lay-filter="del" type="submit"><i class="layui-icon layui-icon-delete"></i> 删除</button>
                        <button class="layui-btn" type="button" onclick="admin_show('添加','{:url('addQuestion')}',0,0,1)"><i class="layui-icon layui-icon-add-1"></i> 添加</button>
                        <button class="layui-btn " type="button" onclick="javascript:location.reload()"><i class="layui-icon layui-icon-refresh"></i> 刷新</button>
                    </div>
                    <table class="layui-table">
                        <colgroup>
                            <col width="50">
                            <col width="180">
                            <col width="350">
                            <col width="150">
                            <col width="50">
                            <col width="50">
                            <col width="80">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><input name="layTableCheckbox" lay-filter="layTableAllChoose" type="checkbox" lay-skin="primary"></th>
                            <th>问题描述</th>
                            <th>问题详解</th>
                            <th>问题属性</th>
                            <th>更新时间</th>
                            <th>状态</th>
                            <th><div align="center">操作</div></th>
                        </tr>
                        </thead>
                        <tbody>
                        {notempty name="list"}
                        {volist name="list" id="vo"}
                        <tr>
                            <td><input name="id[]" type="checkbox" lay-skin="primary" value="{$vo.ID}"></td>
                            <td>{$vo.question}</td>
                            <td>{:htmlspecialchars_decode($vo.answer)}</td>
                            <td>{:questionType($vo.flag)}</td>
                            <td>{$vo.update_time|time_format="Y-m-d H:i"}</td>
                            <td><input type="checkbox" name="status" value="{$vo.status}" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" lay-url="{:url('setStatus',['id'=>$vo['ID']])}" {eq name="vo.status" value="1"}checked{/eq}></td>
                            <td align="center">
                                <a onclick="admin_show('编辑','{:url('updateQuestion',['id'=>$vo['ID']])}',0,0,1)" class="layui-btn layui-btn-normal layui-btn-xs" href="javascript:;"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="admin_del(this,'{:url('delQuestion',['id'=>$vo['ID']])}')"><i class="layui-icon layui-icon-delete"></i>删除</a>
                            </td>
                        </tr>
                        {/volist}
                        {else/}
                        <td colspan="7">暂时还没有内容! </td>
                        {/notempty}
                        </tbody>
                    </table>
                    <div class="page">
                        {$list|raw}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/admin.js"></script>
</body>
</html>