<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>权限列表-{$Think.config.web.meta_title}{$Think.config.web.version}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/admin/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/font.css">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-form">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div style="padding-bottom: 10px;">
                            <button class="layui-btn" type="button" onclick="admin_show('添加','{:url('newRule')}',800,770)"><i class="layui-icon layui-icon-add-1"></i> 添加</button>
                        </div>
                        <table class="layui-table">
                            <colgroup>
                                <col width="130">
                                <col width="120">
                                <col width="120">
                                <col width="100">
                                <col width="180">
                                <col width="80">
                                <col width="380">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>权限名称</th>
                                <th>权限路径</th>
                                <th>权限编号</th>
                                <th>权限级别</th>
                                <th>状态</th>
                                <th>排序</th>
                                <th><div align="center">操作</div></th>
                            </tr>
                            </thead>
                            <tbody>
                            {notempty name="list"}
                            {volist name="list" id="vo"}
                            <tr cate-id='{$vo.ID}' fid='{$vo.pid}'>
                                <td>{$vo.html|html_entity_decode}{eq name="vo.count" value="0"}<i class="layui-icon x-show" status='false'>&#xe625;</i>{/eq}{$vo.title}</td>
                                <td>{$vo.link}</td>
                                <td>{$vo.num}</td>
                                <td>{$vo.level}</td>
                                <td><input type="checkbox" name="status" value="{$vo.status}" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" lay-url="{:url('setStatus',['id'=>$vo['ID']])}" {eq name="vo.status" value="1"}checked{/eq}></td>
                                <td>{$vo.sort}</td>
                                <td>
                                    <a onclick="admin_show('编辑','{:url('updateRule',['id'=>$vo['ID']])}','800','770')" class="layui-btn layui-btn-normal layui-btn-xs" href="javascript:;"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="admin_del(this,'{:url('delRule',['id'=>$vo['ID']])}')"><i class="layui-icon layui-icon-delete"></i>删除</a>
                                    {neq name="vo.count" value="0"}
                                    <a onclick="admin_show('移动','{:url('operate',['type'=>'move','from'=>$vo['ID']])}')" class="layui-btn layui-btn-warm layui-btn-xs" href="javascript:;"><i class="iconfont">&#xe600;</i>移动</a>
                                    {/neq}

                                    {in name="$vo.level" value="1,2"}<a onclick="admin_show('增加子栏目','{:url('newRule',['pid'=>$vo['ID']])}',800,770)" class="layui-btn layui-btn-xs" href="javascript:;"><i class="layui-icon layui-icon-add-1"></i>增加子栏目</a>{/in}
                                </td>
                            </tr>
                            {/volist}
                            {else/}
                            <td colspan="7">暂时还没有内容! </td>
                            {/notempty}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/admin.js"></script>
</body>
</html>